/* Sandbox for example-sandbox */
#userHash {
  display: none;
}
#topicHash {
  display: none;
}
span[data-votestate="1"] {
  color: lime !important;
}
span[data-votestate="2"] {
  color: green !important;
}
span[data-votestate="-1"] {
  color: red !important;
}
