.center {
  text-align: center;
}
#status, #user-id, p {
  text-align: center;
  border-radius: 10px;
  border: 1px solid #33C3F0;
}
br {
  line-height: 250%;
}
#map {
  min-height: 30rem;
  width: 100%;
  border: 5px solid #33C3F0;
}
#timing {
  min-height: 30rem;
  width: 100%;
}

.nav-main a {
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
  padding: 2rem;
  display: inline-block;
  float: left;
}
.nav-main a:first-child {
  margin-left: -2rem;
}
.nav-main a:hover {
  color: #727272;
}

/*CSS FOR TOPIC VIEWS*/
#userHash {
  display: none;
}
#topicHash {
  display: none;
}
span[data-votestate="1"] {
  color: lime !important;
}
span[data-votestate="2"] {
  color: green !important;
}
span[data-votestate="-1"] {
  color: red !important;
}
/*END CSS FOR TOPIC VIEWS*/

/*BEGIN CSS STATUS BUTTON*/
.maybe {
  color: white;
  background-color: lime;
}
.approve {
  color: white;
  background-color: green;
}
.disapprove {
  color: white;
  background-color: red;
}
/*END CSS FOR STATUS BUTTON*/

/*Make Unselectable Text Possible*/
.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page {
  display: none;
}
