.center {
  text-align: center;
}
#status, #user-id, p{
  text-align: center;
  border-radius: 10px;
  border: 1px solid #33C3F0;
}
br {
   line-height: 250%;
}
#map {
 width: 30rem;
 height: 30rem;
 border: 5px solid #33C3F0;
 color: black;
 text-align: center;
 font-size: 25px;
}
